@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: ;
    font-family: inter;
}

body {
    height: 0;
    margin: 5%;
    background: rgb(240, 236, 236);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h1Div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

.input {
    border-radius: 9px;
    border: none;
    height: 25px;
    width: 258px;
}

.btnSearch {
    border-radius: 9px;
    border: none;
    width: 125px;
    height: 25px;
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnSearch:hover {
    background-color: green;
}

.btn3 {
    border-radius: 9px;
    border: none;
    width: 130px;
    height: 25px;
    font-size: 0.9em;
    background-color: rgb(240, 236, 236);
    border: 1px solid orange;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s;

}

.btn3:hover {
    background-color: green;
    color: white;
    border: none;


}

.sortDiv {
    display: flex;
    justify-content: space-between;
}


#movieOutput {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 8px;
    padding: 16px;
}

.movieOutput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(219, 226, 116);
    border-radius: 9px;
    border: 2px solid black;
    padding: 1em;
    gap: 10px;
    margin-right: 10px;
    
}





h2 {
    font-size: 1.1em;
}

p {
    font-size: 0.6em;
}

h4 {
    font-size: 0.8em;
    font-weight: bold;
}