@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: ;
    font-family: inter;
}

body {
    height: 0;
    margin: 5%;
    background: rgba(8, 8, 8, 0.86);
    color: ;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h1Div,
.addMovieDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    color: rgb(251, 247, 247);
}

h1 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

.input {
    border-radius: 9px;
    border: none;
    height: 25px;
    width: 258px;
}

.btnSearch {
    border-radius: 9px;
    border: none;
    width: 125px;
    height: 25px;
    background-color: rgb(6, 106, 236, 0.86);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnSearch:hover {
    background-color: rgb(0, 0, 0);
}

.btn3 {
    border-radius: 9px;
    border: none;
    width: 130px;
    height: 25px;
    font-size: 0.9em;
    background-color: rgb(240, 234, 234);
    border: 2px solid rgb(6, 106, 236, 0.86);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
}

.btn3:hover {
    background-color: rgb(0, 110, 255);
    color: white;
    border: none;
}

.sortDiv {
    display: flex;
    justify-content: space-between;
}

#movieOutput {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 8px;
    padding: 16px;
}
.outdiv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.outdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* .outdiv3{
    border-radius: 9px;
    background-color: rgb(180, 188, 195);
    min-height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
  }
  .outdiv3:hover{
    background-color: rgb(180, 188, 195);

  } */

.movieOutput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(239, 10, 10, 0.932);
    border-radius: 50px;
    /* border: 2px solid black; */
    padding: 1em;
    gap: 16px;
    margin-right: 10px;
    color: white;
    font-size: 1.em;

}

.outDiv {
    background-color: rgb(30, 29, 26);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;

}

.outP {
    background-color: rgb(30, 26, 26);
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    font-size: 1.0em;
}
.outP:hover{
    background-color: rgb(244, 61, 61);
    cursor: pointer;
    border: 2px solid rgb(205, 19, 19);
}

span {
    font-size: 1.5rem;
    color: rgba(248, 243, 243, 0.828);

}



h2 {
    font-size: 1.1em;
}

p {
    font-size: 0.6em;
}

h4 {
    font-size: 0.8em;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: rgba(6, 106, 236, 0.86);
    margin: 5% auto;
    padding: 20px;
    /* border: 0.1px solid #fff; */
    border-radius: 9px;
    width: 40%;
    height: 40%;
    color: white;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addAmovie {
    font-size: 2em;
    margin-bottom: 15%;
}



.addMovieForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.movie {
    margin-bottom: 20px;
}
#btnmodal{
    background-color: black;
}

#btnmodal:hover{
    background-color: rgb(242, 9, 9);
}
.btnAdd {
    background-color: rgb(6, 106, 236, 0.86);
    color: white;
    border: none;
    border-radius: 9px;
    width: 85px;
    height: 20px;
    font-weight: bold;
}

.btnAdd:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.btnDelete {
    background-color: rgb(6, 106, 236, 0.86);
    ;
    color: white;
    border: none;
    border-radius: 9px;
    width: 100px;
    height: 20px;
    font-weight: bold;
}

.btnDelete:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.addMovieDiv {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 760px) {
    html {
        font-size: 12px;
    }

    .btnSearch {
        width: 80px;
        height: 20px;
    }

    .btn3 {
        width: 75px;
        height: 20px;
    }

    .input {
        height: 20px;
        width: 135px;
    }

    .btnAdd {
        width: 70px;
        height: 18px;
        font-size: 0.8em;
    }

    .btnDelete {
        width: 70px;
        height: 18px;
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 761px) {
    html {
        font-size: 16px;
    }

    .btnSearch {
        width: 100px;
        height: 23px;
    }

    .btn3 {
        width: 100px;
        height: 23px;
    }

    .input {
        height: 23px;
        width: 200px;
    }

    .btnAdd {
        width: 90px;
        height: 20px;
    }

    .btnDelete {
        width: 90px;
        height: 20px;
    }
}


@media only screen and (min-width: 992px) {
    html {
        font-size: 18px;
    }

    .btnSearch {
        width: 110px;
        height: 25px;
    }

    .btn3 {
        width: 120px;
        height: 25px;
    }

    .input {
        height: 25px;
        width: 250px;
    }

    .btnAdd {
        width: 100px;
        height: 23px;

    }

    .btnDelete {
        width: 100px;
        height: 23px;

    }
}